body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.register {
    min-width: 500px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
#register-form {
    min-width: 400px;
    display: grid;
    grid-template-areas:
    "e-label email"
    "n-label name"
    "p-label phone"
    "dt-label date"
    "pwd-label password"
    "dob-label dob"
    "register register"
    "l-link l-link";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
#email-label {
    grid-area: e-label;
}
#email {
    grid-area: email;
}
#name-label {
    grid-area: n-label;
}
#name {
    grid-area: name;
}
#phone-label {
    grid-area: p-label;
}
#phone {
    grid-area: phone;
}
#date-label {
    grid-area: dt-label;
}
#date {
    grid-area: date;
}
#password-label {
    grid-area: pwd-label;
}
#password {
    grid-area: password;
}
#dob-label {
    grid-area: dob-label;
}
#dob {
    grid-area: dob;
}
#register-button {
    grid-area: register;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.login {
    grid-area: l-link;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
